@page "/"
@using Horsey.Data;
@using Horsey.Domain;
@inject HorseyContext context;


<div class="jumbotron jumbotron-fluid jumbotron-main" >
    <h1 class="text-center">Horseyland!</h1>
    <h2 class="text-center">Welcome to Horseyland Adventure.</h2>
</div>


<div class="card-group">
    @if (HorseList != null)
    {
        foreach (var horse in HorseList)
        {
            if (horse.Standing > 0 & horse.Standing < 4)
            {
                <div class="col-4">
                    <HorseDisplayCard Id="@horse.Id" />
                </div>
            }
        }
    }
</div>

@code {

    private HorseyContext _context;
    private int cnt = 0;
    private List<Horse> HorseList;

    protected override Task OnInitializedAsync()
    {
        _context = context;
        HorseList = _context.Horses.Take(3).ToList<Horsey.Domain.Horse>();
        return base.OnInitializedAsync();
    }



}